name: Tests

on:
    push:
        branches: [master]
    pull_request:

jobs:
    phpunit:
        strategy:
            matrix:
                php_version: [8.4]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Setup PHP environment
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php_version }}
                  coverage: xdebug
            - name: Install dependencies
              run: composer install
            - name: PHPUnit check
              run: ./vendor/bin/phpunit --coverage-text
